<section id="featured" class="block background-color-grey-dark equal-height">
    <div class="container">
        <header><h2>Recientes</h2></header>
        <div class="row">
            <% for (var i = 1; i <= 4; ++i) {%>
              <% if (oferta['data'][oferta['data'].length-i] != null) {%>
              <div class="col-md-3 col-sm-3">
                  <div class="item featured">
                      <div class="image">
                          <div class="quick-view"><i class="fa glyphicon glyphicon-copyright-mark"></i><span></span></div>
                          <a href="#">
                              <div class="overlay">
                                  <div class="inner">
                                      <div class="content">
                                          <h4>Descripción</h4>
                                          <p><%- oferta['data'][oferta['data'].length-i].oferta['descripcion:']%></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="icon">
                                  <i class="fa fa-thumbs-up"></i>
                              </div>
                              <!-- IMAGEN-->
                              <img src="<%- oferta['data'][oferta['data'].length-i].gallery%>" style="height: 250px; width: 500px;" alt="">
                          </a>
                      </div>
                      <div class="wrapper">
                          <a href="#"><h3><%- oferta['data'][oferta['data'].length-i].title%></h3></a>
                          <figure><%- oferta['data'][oferta['data'].length-i].location%></figure>
                          <div class="info">
                              <div class="type">
                                  <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                  Restaurante
                              </div>
                              <div class="rating" data-rating="4"></div>
                          </div>
                      </div>
                  </div>
                  <!-- /.item-->
              </div>
              <% }%>
            <%}%>

        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--end Featured-->
