<footer id="page-footer">
    <div class="inner">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!--New Items-->
                        <section>
                            <h2>Ofertas recientes</h2>
                            <% for ( var i = 1; i < 3; ++i) { %>
                              <% if (oferta['data'][oferta['data'].length-i] != null) {%>
                              <a href="item-detail.html" class="item-horizontal small">
                                  <h3><%- JSON.stringify(oferta['data'][oferta['data'].length - i].title) %></h3>
                                  <!--<figure>63 Birch Street</figure>-->
                                  <div class="wrapper">
                                      <div class="image"><img src="<%- oferta['data'][oferta['data'].length - i].gallery %>" alt=""></div>
                                      <div class="info">
                                          <div class="type">
                                            <span>Restaurant</span>
                                              <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <% } %>
                            <% } %>
                        </section>
                        <!--end New Items-->
                    </div>
                    <div class="col-md-4 col-sm-4">


                    </div>
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>Acerca de nosotros</h2>
                            <address>
                                <div>Universidad de Sonora</div>
                                <div>Hermosillo, Sonora</div>
                                <div>México</div>
                                <figure>
                                    <div class="info">
                                        <i class="fa fa-globe"></i>
                                        <a href="fran1307.me">fran1307.me</a>
                                    </div>
                                </figure>
                            </address>
                            <hr>
                            <div>
                              <div>Equipo:</div>
                              <br>
                              <div>Francisco Enrique Córdova González</div>
                              <div>Diego Eugenio Bustamante Rendón</div>
                            </div>


                        </section>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-top-->
        <div class="footer-bottom">
            <div class="container">
                <span class="left">Actividad sin fines de lucro, de ámbito estudiantil</span>
                    <span class="right">
                        <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                    </span>
            </div>
        </div>
        <!--/.footer-bottom-->
    </div>
</footer>
