<section class="container">
  <header>
    <aside>
      <ul class="nav nav-pills">
        <li class="active">
          <a href="/profile-<%- user.username %>">
            <h1 class="page-title">Perfil</h1>
          </a>
        </li>
        <li class="active">
          <a href="/items-<%- user.username %>">
            <h1 class="page-title">Mis ofertas</h1>
          </a>
        </li>
      </ul>
    </aside>
  </header>
</section>
