<div class="header">
    <div class="wrapper">
        <div class="brand">
            <a href="/"><img src="assets/img/logo.png" alt="logo"></a>
        </div>
        <nav class="navigation-items">
            <div class="wrapper">
                <ul class="main-navigation navigation-top-header"></ul>
                <ul class="user-area">
                  <% if ( user ) { %>
                    <a class="promoted" href="/profile-<%- user.username  %>"><i class="fa fa-user"></i> <strong> <%- user.username %> </strong></a>
                    <li><a href="/sign-out"><strong> Desconectarse </strong></a></li>
                  <% } else { %>
                    <li><a href="/register"><strong>Registrarse</strong></a></li>
                    <li><a href="/sign-in">Entrar</a></li>
                  <% } %>
                </ul>
                <a href="/submit" class="submit-item">
                    <div class="content"><span>Submit Your Item</span></div>
                    <div class="icon">
                        <i class="fa fa-plus"></i>
                    </div>
                </a>
                <div class="toggle-navigation">
                    <div class="icon">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
