doctype html
html
  head
    link(rel='stylesheet' type = "text/css" href="/css/google_api_map/map.css")        
  body
    #algoarriba
    #map
    #algoabajo
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/js/google_api_map/map.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBa7dbOekOhwSKTRDkZjyFBFdQTwOPM0WI&callback=initMap')
