<html>

  <head>
    <!-- All the files that are required -->
    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <link type = 'text/css' rel = 'Stylesheet' href='/css/login/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <!-- Where all the magic happens -->
    <!-- LOGIN FORM -->
    <% include ../import/login_form.ejs %>
    <!-- REGISTRATION FORM -->
    <div id="error-message">
      <p id = "p-de-error"></p>
    </div>
    <div id="wrapper" style="height: 100vh;">
      ¿Usuario o Compañía?
      <div style="float:left; margin-left: 25vh;">
        <% include ../import/user_registration_form.ejs %>
      </div>
      <div style="float:right; margin-right: 20vh;">
        <% include ../import/company_registration_form.ejs %>
      </div>
    </div>
    <!-- FORGOT PASSWORD FORM -->
    <% include ../import/forgot_password_form.ejs %>
    <script src="/js/login/main.js"></script>

  </body>
</html>
