<html>
  <head>
  </head>
  <body>
    <form method="post", action="/sign-up">
      Email: <br>
      <input type="text" name="email"><br><br>
      Password: <br>
      <input type="password" name="password"><br><br>
      <div align='center'> </div>
      <input type='submit', value ='Login'>
    </form>
  </body>
</html>
