

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">

	<title>miralanetanose miralanetanose &#8211; Spotter &#8211; Business Directory WordPress Theme</title>




<link rel='stylesheet' id='spotter-fontawesome-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/fonts/font-awesome.min.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-fontElegantIcons-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/fonts/ElegantIcons.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-bootsrap-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/bootstrap/css/bootstrap.min.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-bootsrap-select-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/css/bootstrap-select.min.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-owl-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/css/owl.carousel.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-scrollBar-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/css/jquery.mCustomScrollbar.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-nouislider-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/css/jquery.nouislider.min.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-jgrowl-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/css/jquery.jgrowl.min.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-magnific-css-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/css/magnific-popup.css?ver=4.6-alpha-37298' type='text/css' media='all' />
<link rel='stylesheet' id='spotter-style-css'  href='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/style.css?ver=4.6-alpha-37298' type='text/css' media='all' />

<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-includes/js/jquery/jquery.js?ver=1.12.3'></script>

</head>
<body id="page-top" class="archive author author-franko author-109 logged-in page-blog-listing page-fade-in wpb-js-composer js-comp-ver-4.12 vc_responsive">
	<div class="header fixed-header">
		<div class="wrapper">
			<div class="brand"><a class="logo" href="http://themes.fruitfulcode.com/spotter/" title="Business Directory Them" rel="home"><img width="121" height="47" src="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/12/logo2.png" alt="Business Directory Them"/></a><a class="logo retina" href="http://themes.fruitfulcode.com/spotter/" title="Business Directory Them" rel="home"><img width="121" height="47" src="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2016/01/logospotter@2x.png" alt="Business Directory Them"/></a></div>			<nav class="navigation-items">
				<div class="wrapper">
					        <ul class="user-area">
							<a class="promoted" href="http://themes.fruitfulcode.com/spotter/author/franko/?profile-page=my_profile"><i class="fa fa-user"></i> <strong>miralanetanose miralanetanose</strong></a>
				<a class="promoted logout" href="http://themes.fruitfulcode.com/spotter/wp-login.php?action=logout&#038;redirect_to=http%3A%2F%2Fthemes.fruitfulcode.com%2Fspotter&#038;_wpnonce=f217d44e7b" title="Sign Out">Sign Out</a>
					</ul>
        <a href="#"
	   					class="submit-item"
						data-type="popover"							>
        <div class="content"><span>Submit Your Item</span></div>
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
    					<div class="toggle-navigation no-touch">
						<div class="icon">
							<div class="line"></div>
							<div class="line"></div>
							<div class="line"></div>
						</div>
					</div>
									</div>
			</nav>
		</div>
	</div>
	<!-- end Navigation-->
	<div id="outer-wrapper" class="outer-wrapper ">
		<div id="inner-wrapper" class="inner-wrapper">
					<nav class="off-canvas-navigation">
			<div class="main-navigation navigation-off-canvas">
			<header>Navigation</header>
		<ul id="menu-main-menu" class="main-menu"><li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-184"><a href="http://themes.fruitfulcode.com/spotter/">Home</a>
<ul class="sub-menu">
	<li id="menu-item-1062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1062"><a href="http://themes.fruitfulcode.com/spotter/home/index-real-estate/">Real estate</a></li>
	<li id="menu-item-1063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1063"><a href="http://themes.fruitfulcode.com/spotter/home/index-restaurants/">Restaurants</a></li>
	<li id="menu-item-1440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1440"><a href="http://themes.fruitfulcode.com/spotter/home/car/">Cars</a></li>
	<li id="menu-item-1441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1441"><a href="http://themes.fruitfulcode.com/spotter/home/hotels/">Hotels</a></li>
</ul>
</li>
<li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="http://themes.fruitfulcode.com/spotter/listing/">Listing</a></li>
<li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-191"><a href="http://themes.fruitfulcode.com/spotter/pages/">Pages</a>
<ul class="sub-menu">
	<li id="menu-item-464" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-464"><a href="http://themes.fruitfulcode.com/spotter/pages/pricing/">Pricing</a></li>
	<li id="menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468"><a href="http://themes.fruitfulcode.com/spotter/faqs/">FAQ&#8217;s</a></li>
	<li id="menu-item-465" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-465"><a href="http://themes.fruitfulcode.com/spotter/pages/terms-conditions/">Terms &#038; Conditions</a></li>
	<li id="menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-466"><a href="http://themes.fruitfulcode.com/spotter/register/">Register</a></li>
	<li id="menu-item-467" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467"><a href="http://themes.fruitfulcode.com/spotter/sign-in/">Sign In</a></li>
</ul>
</li>
<li id="menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193"><a href="http://themes.fruitfulcode.com/spotter/about-us/">About Us</a></li>
<li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-181"><a href="http://themes.fruitfulcode.com/spotter/blog/">Blog</a></li>
<li id="menu-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182"><a href="http://themes.fruitfulcode.com/spotter/contact/">Contact</a></li>
<li id="menu-item-761" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-761"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/">Shortcodes</a>
<ul class="sub-menu">
	<li id="menu-item-762" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-762"><a href="#">Content Shortcodes</a>
	<ul class="sub-menu">
		<li id="menu-item-731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-731"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/accordion/">Accordion</a></li>
		<li id="menu-item-732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-732"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/button/">Button</a></li>
		<li id="menu-item-733" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-733"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/call-to-action/">Call to Action</a></li>
		<li id="menu-item-734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-734"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/custom-heading/">Custom Heading</a></li>
		<li id="menu-item-735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/empty-space/">Empty Space</a></li>
		<li id="menu-item-736" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-736"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/faq/">FAQ</a></li>
		<li id="menu-item-737" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-737"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/flickr-widget/">Flickr Widget</a></li>
		<li id="menu-item-738" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-738"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/google-maps/">Google Maps</a></li>
		<li id="menu-item-739" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-739"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/icon/">Icon</a></li>
		<li id="menu-item-740" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-740"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/image-carousel/">Image Carousel</a></li>
		<li id="menu-item-741" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-741"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/image-gallery/">Image Gallery</a></li>
		<li id="menu-item-742" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-742"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/line-chart/">Line Chart</a></li>
		<li id="menu-item-743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-743"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/masonry-media-grid/">Masonry Media Grid</a></li>
		<li id="menu-item-744" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-744"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/media-grid/">Media Grid</a></li>
		<li id="menu-item-745" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-745"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/message-box/">Message box</a></li>
		<li id="menu-item-746" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-746"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/pageable-container/">Pageable container</a></li>
		<li id="menu-item-747" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-747"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/pie-chart/">Pie Chart</a></li>
		<li id="menu-item-748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-748"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/post-grid/">Post Grid</a></li>
		<li id="menu-item-749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-749"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/post-masonry-grid/">Post Masonry Grid</a></li>
		<li id="menu-item-750" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-750"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/posts-slider/">Posts Slider</a></li>
		<li id="menu-item-751" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-751"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/progress-bar/">Progress Bar</a></li>
		<li id="menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-752"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/round-chart/">Round Chart</a></li>
		<li id="menu-item-753" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-753"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/section/">Section</a></li>
		<li id="menu-item-754" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-754"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/separator/">Separator</a></li>
		<li id="menu-item-755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-755"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/separator-with-text/">Separator with Text</a></li>
		<li id="menu-item-756" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-756"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/single-image/">Single image</a></li>
		<li id="menu-item-757" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-757"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/tabs/">Tabs</a></li>
		<li id="menu-item-758" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-758"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/text-block/">Text Block</a></li>
		<li id="menu-item-759" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-759"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/tour/">Tour</a></li>
		<li id="menu-item-760" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-760"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/video-player/">Video Player</a></li>
	</ul>
</li>
	<li id="menu-item-774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-774"><a href="#">Social Shortcodes</a>
	<ul class="sub-menu">
		<li id="menu-item-778" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-778"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/facebook-like/">Facebook Like</a></li>
		<li id="menu-item-777" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-777"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/google-button/">Google+ Button</a></li>
		<li id="menu-item-775" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-775"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/pinterest/">Pinterest</a></li>
		<li id="menu-item-776" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-776"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/tweetmeme-button/">Tweetmeme Button</a></li>
	</ul>
</li>
	<li id="menu-item-804" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-804"><a href="#">Structure Shortcodes</a>
	<ul class="sub-menu">
		<li id="menu-item-803" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-803"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/raw-html/">Raw HTML</a></li>
		<li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/raw-js/">Raw JS</a></li>
		<li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/widgetised-sidebar/">Widgetised Sidebar</a></li>
	</ul>
</li>
	<li id="menu-item-839" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-839"><a href="#">Spotter Shortcodes</a>
	<ul class="sub-menu">
		<li id="menu-item-1524" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1524"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/address-block/">Address Block</a></li>
		<li id="menu-item-1523" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1523"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/contact-form/">Contact Form</a></li>
		<li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1518"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/subscribe/">FAQ&#8217;s</a></li>
		<li id="menu-item-1522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1522"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/page-excerpt-block/">Page Excerpt Block</a></li>
		<li id="menu-item-841" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-841"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/partners/">Partners</a></li>
		<li id="menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-843"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/register-form/">Register Form</a></li>
		<li id="menu-item-1539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1539"><a href="http://themes.fruitfulcode.com/spotter/search-items/">Search items</a></li>
		<li id="menu-item-1525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1525"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/sign-in-form/">Sign In Form</a></li>
		<li id="menu-item-1540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1540"><a href="http://themes.fruitfulcode.com/spotter/spotter-categories/">Spotter categories</a></li>
		<li id="menu-item-1526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1526"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/social-icons-block/">Social Icons Block</a></li>
		<li id="menu-item-1541" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1541"><a href="http://themes.fruitfulcode.com/spotter/spotter-items-slider/">Spotter items slider</a></li>
		<li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/spotter-faqs/">Spotter FAQ&#8217;s</a></li>
		<li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/spotter-featured-box/">Spotter Featured Box</a></li>
		<li id="menu-item-1519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1519"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/spotter-listing/">Spotter Listing</a></li>
		<li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/spotter-map/">Spotter Map</a></li>
		<li id="menu-item-1521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1521"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/spotter-price-box/">Spotter Price Box</a></li>
		<li id="menu-item-1520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1520"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/spotter-text-banner/">Spotter Text Banner</a></li>
		<li id="menu-item-1542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1542"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/subscribe/">Subscribe</a></li>
		<li id="menu-item-842" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-842"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/team/">Team</a></li>
		<li id="menu-item-840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-840"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/testimonials/">Testimonials</a></li>
	</ul>
</li>
	<li id="menu-item-930" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-930"><a href="#">WordPress Widgets</a>
	<ul class="sub-menu">
		<li id="menu-item-932" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-932"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-archives/">WP Archives</a></li>
		<li id="menu-item-939" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-939"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-calendar/">WP Calendar</a></li>
		<li id="menu-item-933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-933"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-categories/">WP Categories</a></li>
		<li id="menu-item-936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-936"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-custom-menu/">WP Custom Menu</a></li>
		<li id="menu-item-941" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-941"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-meta/">WP Meta</a></li>
		<li id="menu-item-938" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-938"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-pages/">WP Pages</a></li>
		<li id="menu-item-940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-940"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-recent-comments/">WP Recent Comments</a></li>
		<li id="menu-item-934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-934"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-recent-posts/">WP Recent Posts</a></li>
		<li id="menu-item-931" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-931"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-rss/">WP RSS</a></li>
		<li id="menu-item-942" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-942"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-search/">WP Search</a></li>
		<li id="menu-item-937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-937"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-tag-cloud/">WP Tag Cloud</a></li>
		<li id="menu-item-935" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-935"><a href="http://themes.fruitfulcode.com/spotter/shortcodes/wp-text/">WP Text</a></li>
	</ul>
</li>
</ul>
</li>
</ul>
			</div>
		</nav>
					<!--end Off Canvas Navigation-->
        <!-- Page Canvas-->
		<div id="page-canvas" class="page-canvas fixed-header-canvas">
		<!--Off Canvas Navigation-->
		<!--Sub Header-->
					<section class="sub-header">
						<div id="redefine-search-form" class="search-bar horizontal collapse">
				<div class="content">
					<div class="container">
					<form id="sub-header-search-605" class="321sub-header-search main-search inputs-2" method="get" action="http://themes.fruitfulcode.com/spotter/"><input type="hidden" name="filter-search" value="1475363097" /><input type="hidden" value="-1" name="post_type"/><div class="input-row"><div class="form-group"><input type="text" class="form-control" id="keyword_56" name="keyword" value="" placeholder="Enter Keyword" /></div><input type="hidden" name="category_items" /><div class="form-group"><select class="form-categories" data-tax="category_items" multiple title="Select Type" style="width:100%;" data-live-search="true"  data-size="6"><optgroup label="Cars"><option value="alfa-romeo"  class="">Alfa Romeo</option><option value="33"  class="sub-category">33</option><option value="brera"  class="sub-category">Brera</option><option value="bmw"  class="">BMW</option><option value="series-1"  class="sub-category">Series 1</option><option value="series-3"  class="sub-category">Series 3</option><option value="cadilac"  class="">Cadilac</option><option value="deville"  class="sub-category">Deville</option><option value="dodge"  class="">Dodge</option><option value="avenger"  class="sub-category">Avenger</option><option value="ram"  class="sub-category">RAM</option><option value="viper"  class="sub-category">Viper</option><option value="ford"  class="">Ford</option><option value="ranger"  class="sub-category">Ranger</option><option value="honda"  class="">Honda</option><option value="cr-v"  class="sub-category">CR-V</option><option value="jazz"  class="sub-category">Jazz</option><option value="jeep"  class="">Jeep</option><option value="grand-cherokee"  class="sub-category">Grand Cherokee</option><option value="wrangler"  class="sub-category">Wrangler</option><option value="land-rover"  class="">Land Rover</option><option value="defender"  class="sub-category">Defender</option><option value="range-rover"  class="sub-category">Range Rover</option><option value="mercedes-benz"  class="">Mercedes-Benz</option><option value="class-a"  class="sub-category">Class A</option><option value="ml"  class="sub-category">ML</option><option value="toyota"  class="">Toyota</option></optgroup><optgroup label="Real Estate"><option value="apartment"  class="">Apartment</option><option value="condominium"  class="">Condominium</option><option value="cottage"  class="">Cottage</option><option value="family-house"  class="">Family House</option><option value="flat"  class="">Flat</option><option value="house"  class="">House</option><option value="single-home"  class="">Single Home</option><option value="villa"  class="">Villa</option></optgroup><optgroup label="Restaurants"><option value="bar"  class="">Bar</option><option value="breakfast"  class="">Breakfast</option><option value="fast-food"  class="">Fast Food</option><option value="night-life"  class="">Night Life</option><option value="restaurant"  class="">Restaurant</option><option value="steak-and-grill"  class="">Steak &amp; Grill</option><option value="vegetarian"  class="">Vegetarian</option></optgroup><optgroup label="Hotels"><option value="bed-and-breakfast"  class="">Bed and breakfast</option><option value="club-hotel"  class="">Club Hotel</option><option value="eco-hotel"  class="">Eco hotel</option><option value="holiday-cottage"  class="">Holiday cottage</option><option value="hostel"  class="">Hostel</option><option value="hotelship"  class="">Hotelship</option><option value="luxury-hotel%e2%80%8e"  class="">Luxury hotel‎</option><option value="motel"  class="">Motel</option><option value="pension-hotel"  class="">Pension hotel</option><option value="resort"  class="">Resort</option></optgroup></select></div><div class="search-btn"><button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></div></div></form>					</div><!-- /.container -->
				</div>
			</div>


			<div class="breadcrumb-wrapper">
				<div class="container">
					<div class="redefine-search">
						<a href="#redefine-search-form" class="inner" data-toggle="collapse" aria-expanded="false" aria-controls="redefine-search-form">
							<span class="icon"></span>
							<span>Redefine Search</span>
						</a>
					</div>
											<!-- Breadcrumb --><ol class="breadcrumb"><li><a href="http://themes.fruitfulcode.com/spotter" title="Spotter - Business Directory WordPress Theme" rel="home" class="trail-begin"><i class="fa fa-home"></i></a></li>  <li class="active"><span class="trail-end">miralanetanose miralanetanose</span></li></ol>
									</div>
			</div>
		</section>

				<!--end Sub Header-->

	
		<!-- end Page Canvas-->

		<!--Page Footer-->
		<footer id="page-footer">
			<div class="inner">
								<div class="footer-top">
					<div class="container">
						<div class="row">

							<div class="col-md-4 col-sm-4"><span id="spotter-it-7" class="widget spotter-items"><span class="header"><h2>New items</h2></span><a id="item-1623" class="item-horizontal small" href="http://themes.fruitfulcode.com/spotter/property/1882-trainer-avenue-2/"><h3>1882 Trainer Avenue</h3><figure>Louisville Road 184</figure><span class="wrapper wrap"><span class="image"><img src="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2016/06/2.jpg" alt="" /></span><span class="info"><span class="type"></span><span class="rating wrap" data-rating="0"></span></span></span></a><a id="item-1385" class="item-horizontal small" href="http://themes.fruitfulcode.com/spotter/hostel/le-st-martin-hotel-particulier-montreal/"><h3>Le St-Martin Hotel Particulier Montreal</h3><figure>980 Boulevard de Maisonneuve</figure><span class="wrapper wrap"><span class="image"><img src="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2016/01/hotel20-555x415.jpg" alt="" /></span><span class="info"><span class="type"><span>Eco hotel</span></span><span class="rating wrap" data-rating="4.5"></span></span></span></a></span></div><div class="col-md-4 col-sm-4"><span id="spotter-rev-4" class="widget spotter-reviews"><span class="header"><h2>Recent Reviews</h2></span><span class="item-horizontal small"><h3><a href="http://themes.fruitfulcode.com/spotter/property/3019-white-avenue/">3019 White Avenue</a></h3>2016-04-21<span class="wrapper wrap"><span class="image" style="height: 60px;"><img width="80" height="80" src="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/1-80x80.jpg" class="attachment-spotter-item-thumb-comment size-spotter-item-thumb-comment wp-post-image" alt="1" srcset="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/1-80x80.jpg 80w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/1-150x150.jpg 150w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/1-350x350.jpg 350w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/1-265x265.jpg 265w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/1-80x80@2x.jpg 160w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/1-150x150@2x.jpg 300w" sizes="(max-width: 80px) 100vw, 80px" /></span><span class="info"><p>Greate!</p><span class="rating wrap" data-rating="0"></span></span></span></span><span class="item-horizontal small"><h3><a href="http://themes.fruitfulcode.com/spotter/property/1882-trainer-avenue/">1882 Trainer Avenue</a></h3>2016-04-20<span class="wrapper wrap"><span class="image" style="height: 60px;"><img width="80" height="80" src="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/8-80x80.jpg" class="attachment-spotter-item-thumb-comment size-spotter-item-thumb-comment wp-post-image" alt="8" srcset="http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/8-80x80.jpg 80w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/8-150x150.jpg 150w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/8-350x350.jpg 350w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/8-265x265.jpg 265w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/8-80x80@2x.jpg 160w, http://themes.fruitfulcode.com/spotter/wp-content/uploads/2015/04/8-150x150@2x.jpg 300w" sizes="(max-width: 80px) 100vw, 80px" /></span><span class="info"><p>Nice!</p><span class="rating wrap" data-rating="0"></span></span></span></span></span></div><div class="col-md-4 col-sm-4"><span id="spotter-as-2" class="widget spotter-contact"><span class="header"><h2>About us</h2></span><span class="shortcode-address"><span>Max Five Lounge</span><span>63 Birch Street</span><span>Granada Hills, CA 91344</span><figure><span class="info"><i class="fa fa-mobile"></i><span>818-832-5258</span></span><span class="info"><i class="fa fa-phone"></i><span>+1 123 456 789</span></span><span class="info"><i class="fa fa-globe"></i><a target="_blank" href="http://fruitfulcode.com">http://fruitfulcode.com</a></span></figure></span><span class="social"><a href="http://twitter.com/fruitfulcode" class="social-button"><i class="fa fa-twitter"></i></a><a href="http://facebook.com/fruitfulc0de" class="social-button"><i class="fa fa-facebook"></i></a><a href="https://www.pinterest.com/fruitfulcode/" class="social-button"><i class="fa fa-pinterest"></i></a></span><a href="http://themes.fruitfulcode.com/spotter/contact/" class="btn framed icon">Contact<i class="fa fa-angle-right"></i></a></span></div>						</div><!--/.row-->
					</div><!--/.container-->
				</div><!--/.footer-top-->


							<div class="footer-bottom">
					<div class="container">
						<span class="left">© <a href="http://themestarz.net/">Theme Starz</a> &amp; <a href="http://fruitfulcode.com/">Fruitful Code</a>, Powered by <a href="http://wordpress.org">WordPress</a><span class="social pull-right"><span class="icons"></span><!-- /.icons --></span><!-- /.social --></span>
						<span class="right">
							<a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
						</span>
					</div>
				</div><!--/.footer-bottom-->
			</div>
		</footer><!--end Page Footer-->
    </div><!-- end Inner Wrapper -->
</div><!-- end Outer Wrapper-->

<script type='text/javascript'>
/* <![CDATA[ */
var spotterRegisterUserForm = {"valid_email_mess":"Please enter your unique email","valid_login_mess":"Please enter your unique login"};
/* ]]> */
</script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/plugins/wp-spotter-core/public/shortcodes/patternsJs/registerForm.js?ver=20140808'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/jquery.magnific-popup.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/bootstrap/js/bootstrap.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/membership.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/bootstrap-select.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/icheck.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/jquery.hotkeys.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/jquery.nouislider.all.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/jquery.validate.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/fileinput.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/jquery.jgrowl.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/owl.carousel.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/jquery.mCustomScrollbar.concat.min.js?ver=20161001'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var SpotterGlobal = {"ajaxurl":"http:\/\/themes.fruitfulcode.com\/spotter\/wp-admin\/admin-ajax.php","domain":"http:\/\/themes.fruitfulcode.com\/spotter","is_mobile":"false","is_front_page":"false","source_path":"http:\/\/themes.fruitfulcode.com\/spotter\/wp-content\/themes\/spotter\/includes\/theme\/assets","spotter_ajax_nonce":"65321593fb","is_rtl":"false","upload_url":"http:\/\/themes.fruitfulcode.com\/spotter\/wp-content\/uploads\/spotter","none_selected_text":"Nothing selected"};
var spotterProfile = {"_button_featured_text":"Click or drop picture here","_button_remove_text":"Remove file","_button_remove_title":"Remove file","_user_avatar_img":"<img src=\"http:\/\/themes.fruitfulcode.com\/spotter\/wp-content\/themes\/spotter\/includes\/theme\/profile\/res\/avatar.jpg\" class=\"file-preview-image\" alt=\"\" \/>","_default_avatar_img":"<img src=\"http:\/\/themes.fruitfulcode.com\/spotter\/wp-content\/themes\/spotter\/includes\/theme\/profile\/res\/avatar.jpg\" class=\"file-preview-image\" alt=\"\" \/>","_profile_messages":{"item_saved":"Your listing was updated"}};
/* ]]> */
</script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/themes/spotter/includes/theme/assets/js/spotter.min.js?ver=20161001'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/plugins/wp-spotter-core/public/shortcodes/patternsJs/jquery.cookie.min.js?ver=20151203'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/plugins/wp-spotter-core/public/shortcodes/patternsJs/mapList.min.js?ver=20140808'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var spotterSignIn = {"valid_email_mess":"Please enter valid email address","valid_pass_mess":"Please enter valid password","frg_pass_button_text":"Send Me Password","spotter_created_user":"","spotter_message_created_user":"Thank you for registering. Please check your mail."};
/* ]]> */
</script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-content/plugins/wp-spotter-core/public/shortcodes/patternsJs/signIn.js?ver=20140808'></script>
<script type='text/javascript' src='http://themes.fruitfulcode.com/spotter/wp-includes/js/wp-embed.min.js?ver=4.6-alpha-37298'></script>
</body>
</html>
